<body style="background-color: rgb(176, 241, 241); text-align: center;margin-left: 40%; margin-right: 40%;">
    <h1>Create new account</h1>
    <input placeholder="FULL NAME" [(ngModel)]="nombre" >
    <br>
    <br>
    <input placeholder="EMAIL" [(ngModel)]="correo" >
    <br>
    <br>
    <input type="password" placeholder="PASSWORD" [(ngModel)]="contra" >
    <br>
    <br>
    <input type="password" placeholder="CONFIRM PASSWORD" [(ngModel)]="confirmar" >
    <br>
    <br>
    <input placeholder="PHONE NUMBER" [(ngModel)]="numero">
    <br>
    <br>

    
    <br>
    <br>
    <button (click)="register()">REGISTER</button>
    
    <br>
    <br>
    <br>
    <br>

    
</body>
